@use '../../styles/_variables.scss' as *;

.text {
  color: $color-main;
  font-weight: 600;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: rgba(253, 251, 251, 0.993);
  }
}
.outlined {
  border: 2px solid $outlined-border;
  color: $outlined-color;
  background-color: transparent;
  &:hover {
    border: 2px solid $outlined-hover;
  }
}
.contained {
  border: none;
  background-color: $color-main;
  color: $title_color;
  &:hover {
    background-color: $color-main-dark;
  }
}

.small {
  padding: 5px 10px;
}
.medium {
  padding: 10px 20px;
}
.large {
  padding: 15px 30px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  transition: ease-in-out 0.5s;
}
.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.disabledColor {
  background-color: $background-main-disabled;
  color: $title_color_disabled;
  cursor: not-allowed;
  pointer-events: none;
}
