$color-main: rgb(25, 118, 210);
$title_color: rgb(255, 255, 255);
$color-main-dark: rgb(24, 110, 196);
$background-main-disabled: rgba(0, 0, 0, 0.12);
$title_color_disabled: rgba(0, 0, 0, 0.38);
$outlined-border: rgba(25, 118, 210, 0.5);
$outlined-color: rgb(25, 118, 210);
$outlined-hover: rgba(63, 81, 181, 0.1);
$main-grey: rgb(112, 112, 112);
$main-grey-light: rgb(204, 204, 204);
$outlined-color-disabled: rgba(0, 0, 0, 0.38);
$btn-box-shadow1: rgba(0, 0, 0, 0.2);
$btn-box-shadow2: rgba(0, 0, 0, 0.14);
$btn-box-shadow3: rgba(0, 0, 0, 0.12);
$btn-active-color: rgba(63, 81, 181, 0.2);
$text-color: rgb(25, 118, 210);
$error-color: rgba(255, 0, 0, 0.801);

* {
  font-size: 16px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
